In [25]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
%matplotlib inline

* Carregar os dados

In [2]:
df_pe_qfr = pd.read_csv('AMF_PE-QFR_FLUXNET_FULLSET_2018-2019_3-5/AMF_PE-QFR_FLUXNET_FULLSET_HH_2018-2019_3-5.csv', sep=',')
display(df_pe_qfr)

,TIMESTAMP_START,TIMESTAMP_END,TA_F_MDS,TA_F_MDS_QC,TA_ERA,TA_F,TA_F_QC,SW_IN_POT,SW_IN_F_MDS,SW_IN_F_MDS_QC,...,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95,RECO_SR,RECO_SR_N
0,201801010000,201801010030,24.196,1,24.712,24.196,1,0.0,0.000,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9999,-9999
1,201801010030,201801010100,24.195,1,24.285,24.195,1,0.0,0.000,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9999,-9999
2,201801010100,201801010130,23.180,0,23.858,23.180,0,0.0,0.082,0,...,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386,-9999,-9999
3,201801010130,201801010200,22.739,0,23.712,22.739,0,0.0,0.082,0,...,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386,-9999,-9999
4,201801010200,201801010230,22.537,0,23.567,22.537,0,0.0,0.085,0,...,0.000389,0.009320,0.013139,0.014088,0.014850,0.016951,0.017625,0.018022,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,201912312130,201912312200,26.272,0,26.341,26.272,0,0.0,0.059,0,...,0.000229,0.005254,0.005360,0.005878,0.006587,0.008211,0.008285,0.009994,-9999,-9999
35036,201912312200,201912312230,25.482,0,26.369,25.482,0,0.0,0.057,0,...,0.000222,0.005076,0.005178,0.005678,0.006364,0.007933,0.008004,0.009656,-9999,-9999
35037,201912312230,201912312300,25.168,0,26.093,25.168,0,0.0,0.055,0,...,0.000214,0.004898,0.004996,0.005479,0.006140,0.007655,0.007723,0.009317,-9999,-9999
35038,201912312300,201912312330,24.900,0,25.818,24.900,0,0.0,0.062,0,...,0.000241,0.005521,0.005632,0.006176,0.006922,0.008629,0.008706,0.010502,-9999,-9999
35039,201912312330,202001010000,24.660,0,25.593,24.660,0,0.0,0.084,0,...,0.000327,0.007480,0.007630,0.008368,0.009378,0.011690,0.011795,0.014228,-9999,-9999

* O Ameriflux atribui o valor -9999 para valores nulos
* Portanto, é necessário converter o valor -9999 para nulo novamente para podermos realizar a análise

In [3]:
# Substitui os valores -9999 por NaN
df_pe_qfr = df_pe_qfr.mask(df_pe_qfr == -9999)

* Precisamos transformar a variável TIMESTAMP_START de real para data

In [4]:
# Converta a coluna TIMESTAMP_START para um formato de timestamp
df_pe_qfr['TIMESTAMP_START'] = pd.to_datetime(df_pe_qfr['TIMESTAMP_START'], format='%Y%m%d%H%M')

* Vamos remover a variável TIMESTAMP_END

In [5]:
df_pe_qfr = df_pe_qfr.drop('TIMESTAMP_END', axis=1)

In [6]:
# Visualiza as três primeiras linhas do dataframe
df_pe_qfr.head(3)

,TIMESTAMP_START,TA_F_MDS,TA_F_MDS_QC,TA_ERA,TA_F,TA_F_QC,SW_IN_POT,SW_IN_F_MDS,SW_IN_F_MDS_QC,SW_IN_ERA,...,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95,RECO_SR,RECO_SR_N
0,2018-01-01 00:00:00,24.196,1,24.712,24.196,1,0.0,0.000,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
1,2018-01-01 00:30:00,24.195,1,24.285,24.195,1,0.0,0.000,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2,2018-01-01 01:00:00,23.180,0,23.858,23.180,0,0.0,0.082,0,0.0,...,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386,NaN,NaN

* Analisa os dados utlizando o pandas profiling (atualmente chamado de ydata-profilling)

In [7]:
# Analisa os dados utlizando o pandas profiling
report = ProfileReport(df_pe_qfr,  minimal=True, title='Torre Amazônia Peruana')

In [8]:
# # Salva o arquivo html com as análises realizadas pelo pandas profiling
# report.to_file("EDA/torre_amazonia_peruana.html")

In [9]:
# Identifica colunas com 100% de valores nulos
colunas_nulas = df_pe_qfr.columns[df_pe_qfr.isnull().all()]

# Exibe o nome das colunas com 100% de valores nulos
print("Colunas com 100% de valores nulos:")
for coluna in colunas_nulas:
    print(coluna)

# Remove as colunas com 100% de valores nulos do DataFrame.
df_pe_qfr = df_pe_qfr.drop(columns=colunas_nulas)

Colunas com 100% de valores nulos:
LW_IN_F_MDS
LW_IN_F_MDS_QC
P
G_F_MDS
G_F_MDS_QC
LE_CORR
LE_CORR_25
LE_CORR_75
LE_CORR_JOINTUNC
H_CORR
H_CORR_25
H_CORR_75
H_CORR_JOINTUNC
EBC_CF_N
EBC_CF_METHOD
RECO_NT_VUT_USTAR50
GPP_NT_VUT_USTAR50
RECO_SR
RECO_SR_N

In [10]:
# Visualiza as três primeiras linhas do dataframe
display(df_pe_qfr.head(3))

,TIMESTAMP_START,TA_F_MDS,TA_F_MDS_QC,TA_ERA,TA_F,TA_F_QC,SW_IN_POT,SW_IN_F_MDS,SW_IN_F_MDS_QC,SW_IN_ERA,...,GPP_DT_VUT_USTAR50,GPP_DT_VUT_MEAN,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95
0,2018-01-01 00:00:00,24.196,1,24.712,24.196,1,0.0,0.000,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2018-01-01 00:30:00,24.195,1,24.285,24.195,1,0.0,0.000,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2018-01-01 01:00:00,23.180,0,23.858,23.180,0,0.0,0.082,0,0.0,...,0.016353,0.014735,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386

* As variáveis com _QC no nome representam a qualidade do preenchimento realizado nas lacunas existentes nos dados. Essas variáveis com _QC são do tipo inteiro e o intervalo delas é de 0-3 (0, 1, 2, 3) sendo que 0 representa o preenchimento com qualidade melhor e 3 representa o preenchimento com qualidade pior.

* Vamos retirar essas variáveis da análise

In [11]:
# Filtra as colunas que contêm "_QC" no nome
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if '_QC' in coluna]

# Remove as colunas que contêm "_QC" no nome do DataFrame
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

In [12]:
# Visualiza as três primeiras linhas do dataframe
display(df_pe_qfr.head(3))

,TIMESTAMP_START,TA_F_MDS,TA_ERA,TA_F,SW_IN_POT,SW_IN_F_MDS,SW_IN_ERA,SW_IN_F,LW_IN_ERA,LW_IN_F,...,GPP_DT_VUT_USTAR50,GPP_DT_VUT_MEAN,GPP_DT_VUT_SE,GPP_DT_VUT_05,GPP_DT_VUT_16,GPP_DT_VUT_25,GPP_DT_VUT_50,GPP_DT_VUT_75,GPP_DT_VUT_84,GPP_DT_VUT_95
0,2018-01-01 00:00:00,24.196,24.712,24.196,0.0,0.000,0.0,0.000,411.887,411.887,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2018-01-01 00:30:00,24.195,24.285,24.195,0.0,0.000,0.0,0.000,411.887,411.887,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2018-01-01 01:00:00,23.180,23.858,23.180,0.0,0.082,0.0,0.082,415.333,415.333,...,0.016353,0.014735,0.000376,0.008991,0.012675,0.013591,0.014326,0.016353,0.017003,0.017386

* Existem variáveis que mostram o percentil dos valores (Ex: RECO_NT_VUT_25). Vamos retirar essas variáveis do dataset

In [13]:
# Sufixos a serem removidos
sufixos_a_remover = ['_05', '_16', '_25', '_50', '_75', '_84', '_95']

# Filtra e remove as colunas com os sufixos especificados
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if any(sufixo in coluna for sufixo in sufixos_a_remover)]
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

* Existem variáveis que informam sobre a incerteza aleatória bem como o número de amostras e o método usado para calcular esta incerteza (Ex: H_RANDUNC, H_RANDUNC_N, H_RANDUNC_METHOD).

* Inicialmente, não vamos trabalhar com estas variáveis

In [14]:
# Filtra e remove as colunas com "_RANDUNC" em qualquer parte do nome
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if '_RANDUNC' in coluna]
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

* Varíaveis com _REF_JOINTUNC (Ex: NEE_VUT_REF_JOINTUNC) representa a incerteza conjunta combinada de vários limites USTAR e a incerteza aleatória

* Não vamos utilizá-las

In [15]:
# Filtra as colunas que contêm "_JOINTUNC" no nome
colunas_a_remover = [coluna for coluna in df_pe_qfr.columns if '_JOINTUNC' in coluna]

# Remove as colunas que contêm "_JOINTUNC" no nome do DataFrame
df_pe_qfr = df_pe_qfr.drop(columns=colunas_a_remover)

* Criar as colunas referentes ao NPP sendo que NPP = GPP - RECO
* Dessa forma, teremos:
    * (GPP_DT_VUT_REF) - (RECO_DT_VUT_REF) gera a coluna NPP_DT_VUT_REF

    * (GPP_DT_VUT_USTAR50) - (RECO_DT_VUT_USTAR50) gera a coluna NPP_DT_VUT_USTAR50

    * (GPP_DT_VUT_MEAN) - (RECO_DT_VUT_MEAN) gera a coluna NPP_DT_VUT_MEAN

In [16]:
# Cria as novas colunas do NPP
df_pe_qfr['NPP_DT_VUT_REF'] = df_pe_qfr['GPP_DT_VUT_REF'] - df_pe_qfr['RECO_DT_VUT_REF']
df_pe_qfr['NPP_DT_VUT_USTAR50'] = df_pe_qfr['GPP_DT_VUT_USTAR50'] - df_pe_qfr['RECO_DT_VUT_USTAR50']
df_pe_qfr['NPP_DT_VUT_MEAN'] = df_pe_qfr['GPP_DT_VUT_MEAN'] - df_pe_qfr['RECO_DT_VUT_MEAN']

* Existem variáveis repetidas cuja diferença está apenas no modelo que foi utilizado para realizar o gap-filled. Por isso, vamos selecionar apenas variáveis sem repetição

* Além disso, vamos usar o NPP_DT_VUT_USTAR50

In [17]:
selected_variables = ['TIMESTAMP_START', 'TA_F_MDS', 'SW_IN_POT', 'SW_IN_F_MDS', 'LW_IN_F', 'LW_IN_JSB_F', 'VPD_ERA', 'PA_ERA', 'P_F', 'WS_F', 'WD', 'USTAR', 'RH', 'NETRAD', 'PPFD_IN', 'CO2_F_MDS', 'TS_F_MDS_1', 'LE_F_MDS', 'H_F_MDS','NPP_DT_VUT_USTAR50']

df_filtered = df_pe_qfr[selected_variables]

* Vamos criar outras variáveis a partir da variável TIMESTAMP_START. São elas:
    * Ano
    * Mês
    * Dia do ano

In [18]:
# Crie colunas para o ano, mês e dia do ano
df_filtered['Year'] = df_pe_qfr['TIMESTAMP_START'].dt.year
df_filtered['Month'] = df_pe_qfr['TIMESTAMP_START'].dt.month
df_filtered['DoY'] = df_pe_qfr['TIMESTAMP_START'].dt.dayofyear

C:\Users\albert.DESKTOP-015ON1O\AppData\Local\Temp\ipykernel_3884\2476297416.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Year'] = df_pe_qfr['TIMESTAMP_START'].dt.year
C:\Users\albert.DESKTOP-015ON1O\AppData\Local\Temp\ipykernel_3884\2476297416.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Month'] = df_pe_qfr['TIMESTAMP_START'].dt.month
C:\Users\albert.DESKTOP-015ON1O\AppData\Local\Temp\ipykernel_3884\2476297416.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['DoY'] = df_pe_qfr['TIMESTAMP_START'].dt.dayofyear

In [19]:
display(df_filtered.head(3))

,TIMESTAMP_START,TA_F_MDS,SW_IN_POT,SW_IN_F_MDS,LW_IN_F,LW_IN_JSB_F,VPD_ERA,PA_ERA,P_F,WS_F,...,NETRAD,PPFD_IN,CO2_F_MDS,TS_F_MDS_1,LE_F_MDS,H_F_MDS,NPP_DT_VUT_USTAR50,Year,Month,DoY
0,2018-01-01 00:00:00,24.196,0.0,0.000,411.887,479.338,1.105,98.830,0.048,1.091,...,NaN,NaN,443.979,24.474,7.21952,-4.53360,-9.381420,2018,1,1
1,2018-01-01 00:30:00,24.195,0.0,0.000,411.887,479.348,0.889,98.793,0.048,0.952,...,NaN,NaN,443.979,24.410,7.21952,-4.47688,-9.381070,2018,1,1
2,2018-01-01 01:00:00,23.180,0.0,0.082,415.333,471.456,0.672,98.756,0.104,1.459,...,-21.695,0.014,454.899,24.345,9.34216,-2.80919,-9.009657,2018,1,1

* Análise padrão dos dados

In [20]:
# Analisa os dados utilizando o pandas profiling
report = ProfileReport(df_filtered,  minimal=True, title='Torre Amazônia Peruana')
# Salva o arquivo html com as análises realizadas pelo pandas profiling
report.to_file("EDA/torre_amazonia_peruana.html")

C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

* Análise temporal dos dados

In [21]:
from pandas_profiling import ProfileReport

profile = ProfileReport(df_filtered, minimal=False, tsmode=True, sortby="TIMESTAMP_START", title='Torre Amazônia Peruana')
profile.to_file('EDA/time_series_torre_amazonia_peruana.html.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()
C:\Users\albert.DESKTOP-015ON1O\AppData\Roaming\Python\Python39\site-packages\pandas_profiling\model\pandas\describe_timeseries_pandas.py:117: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  mad = pos_fft_above_med["ampl"].mad()

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

* Analisa os dados utilizando a biblioteca D-Tale

In [22]:
# Substitua os valores NaT por NaN visto que a biblioteca D-tale não aceita NAType
df_filtered = df_filtered.replace(pd.NaT, np.nan)

In [23]:
import dtale
# Mostra a análise realizada pelo d-tale
dtale.show(df_filtered, open_browser=True)

* Salva os dados processados em um csv

In [33]:
df_filtered.to_csv('AMF_PE-QFR_FLUXNET_FULLSET_2018-2019_3-5/AMF_PE-QFR_FLUXNET_FULLSET_HH_2018-2019_3-5_processed.csv', index=False)